<!DOCTYPE html>
<html>

<head>
    <title>Migrator</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav class="mynav navbar navbar-dark bg-dark shadow-smx">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <strong>Playlist Migrator</strong>&nbsp;<small>(Alpha)</small>
        </a>
        <div class="row float-right">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <small><small>HELP</small></small>
            </a>
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn-info">Logout</button>
            </form>
        </div>

    </div>
</nav>